body {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
  background: #f9f9f9;
}
input[type="file"] {
  margin-top: 1em;
  font-size: 1em;
  width: 80%;
  max-width: 600px;
}
button {
  margin-top: 1em;
  font-size: 1em;
  padding: 0.6em 1.2em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#progress-bar-container {
  width: 80%;
  max-width: 600px;
  margin: 1em auto;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 10px;
  display: none;
}
#progress-bar {
  height: 100%;
  width: 0%;
  background: #4CAF50;
  transition: width 0.3s ease;
}
#downloads {
  max-width: 90%;
  margin: 1em auto;
}
#downloads-table-wrapper {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  padding: 1em;
}
#downloads-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#downloads-table td {
  padding: 0.3em 0.5em;
  text-align: left;
  word-break: break-word;
  font-size: 0.9em;
}
#downloads-table a {
  text-decoration: none;
  color: #1a0dab;
}
#preview-container {
  position: absolute;
  border: 1px solid #888;
  background: #fff;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
}

#preview-canvas {
  max-width: 388px;
  max-height: 517px;
  width: auto;
  height: auto;
  display: block;
}
