body {
  font-family: sans-serif;
  text-align: center;
  padding: 2em;
  background: #f9f9f9;
}
#downloads-table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  padding: 1em;
  max-width: 95%;
  margin: 0 auto;
}
#downloads-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#downloads-table td {
  padding: 0.3em 0.5em;
  text-align: left;
  word-break: break-word;
}
#downloads-table a {
  text-decoration: none;
  color: #1a0dab;
}
#preview-canvas {
  max-width: 388px;
  width: 100%;
  height: auto;
  display: block;
}

#preview-container {
  position: absolute;
  background: white;
  border: 1px solid #888;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
  z-index: 100;
}
